@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body{
    background-color: hsl(217, 19%, 24%);
}

/* typo */
.advice-id{
    color:  hsl(150, 100%, 66%);
    padding: 20px 0;
    text-transform: capitalize;
}

.quote{
 color: hsl(193, 38%, 86%);
 font-size: 28px;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}



.container{
    width: 20rem;
    height: 18rem;
    background-color: hsl(216, 16%, 31%);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.outer-container{
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}

.dice-container{
display: flex;
align-items: center;
justify-content: center;
 background-color: hsl(150, 100%, 66%);
 width:4rem;
 height: 4rem;
 border-radius: 50%;
 margin-top: -2rem;
}
.dice-container:hover{
 box-shadow: hsl(150, 100%, 66%);
 
}
.advice-icon{
    width: 2rem;
}

.divider{
   margin-top: 2rem;
}

@media screen and (min-width: 740px) {
    .container{
        width: 25rem;
        height: 15rem;
    }
}